html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *::before, *::after{
    box-sizing: inherit;
}
button{
    all: unset;
}

body{
    width: 100%;
    max-width: 320px;
    margin: auto;
}
#masthead{
    text-align: center;
    font-size: 1.5em;
    color: darkblue;
    padding: 5px 0;
}
#reset{
    cursor: pointer;
    display: block;
    width: 200px;
    margin: auto;
    padding: 10px 0;
    background: green;
    color: white;
    font-size: 20px;
    text-align: center;
    border: 1px solid transparent;
    transition: all 300ms;
}
#reset:hover{
    background: white;
    color: green;
    border-color: green;
}
#vowel-board{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* position: relative; */
   
}
.vowel-card{
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 1px;
    background-color:crimson;
    border-radius: 4px;
    position: relative;
    border: 1px solid darkblue;
}


.vowel{
    border-radius: 4px;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    visibility: hidden;
    cursor: pointer;
    padding-top: 16px;
    transition: 400ms all;
    
}
.vowel.flip{
    transition: 400ms all;
    visibility: visible;
}

.vowel-card:hover{
    background: rgb(5, 64, 141);
    
}

footer{
    text-align: center;
}